

.hero {
  min-width: 100vw;
  height: auto;
  background-color: #212121;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 80px 0 140px;
  color: white;
}
.rounde1 {
  width: 200px;
  height: 200px;
  background-color: rgb(175, 222, 255);
  position: absolute;
  top: 290px;
  left: 70vw;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}

.rounde2 {
  width: 50vw;
  height: 300px;
  background-color: rgba(7, 92, 161, 0.353);
  position: absolute;
  top: 290px;
  left: 5vw;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 0;
}


.introdution {
  width: 50vw;
  z-index: 1;
}

.introdution hr {
  width: 37vw;
  border: none;
  border-top: 1px solid white;
  margin-bottom: 30px;
}

.name {
  font-size: 4em;
  margin-left: -10px;
}

.introdution h3 {
  line-height: 40px;
  color: #e1dfba;
}

.introdution p {
  color: #edecd6;
  margin-top: 10px;
}

.links {
  width: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.links svg {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(244, 94, 0, 0.693);
}

.introdution button {
  height: 50%;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #3a4042;
  color: #fbfbfb;
}

.bemutatkozas {
  z-index: 1;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bemutatkozas img {
  height: 35%;
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #e1dfba;
}

.wave {
 display: none;
  position: absolute;
  bottom: 0;
  padding: 0;
  display: block;
  margin: 0 0 -70px -140px;
}






@media (max-width:992px) {
  .App {
    height: auto;
    width: 100vw;
    padding: 0;
    padding-top: 50px;
  }

  .rounde2 {
    width: 60vw
  }

  .rounde1, .wave  {
    display: none;
  }

  .hero {
   min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;

    height: fit-content;
    padding: 0;
    padding-bottom: 50px;
  }
  .introdution hr {
    width: 80vw;

  }

  .introdution {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }
.introdution .name{
  font-size: 2em;
}

.App .hero .introdution .links{
  width: 100vw;
  margin: 0 auto;
  align-items: center;

}
.App .hero .introdution button{
  margin-top: 10px;
  font-size: 15px;

}

  .bemutatkozas {
    grid-row: 1;
    margin: 0;
    width: 100vw;
    height: 50vh;
  }

  .bemutatkozas img {
    height: 60%;
    margin: 0 auto;
  }

}