@use "./var.scss";
@import "./var.scss";

.projectContainer {
    @include var.sizes($width: 100%, $height: auto);
    @include var.flexbox($display: flex, $flex-direction:column);
    background-color: var.$projectsBg;

    .project-hr {
        @include var.box($margin:-2px 0 0 0, $padding:0);
        @include var.sizes($width: 100vw, $height: auto);
        border: none;
        border-bottom: 3px solid var.$white;
    }

    h1 {
        @include var.box($margin:30px 0, $padding:0);
        text-align: center;
        color: var.$white
    }

    .box {
        @include var.box($margin:10px auto 40px auto, $padding:0);
        @include var.sizes($width: 70%, $height: auto);
        @extend %grid;
        align-items: center;
        border-radius: 5px;

        h1 {
            text-align: center;
            color: var.$white
        }

        .background-image {
            img {
                @include var.sizes($width: 100%, $height: auto);
                @extend %setBackground;
                border-radius: 20px;
            }
        }

        .project-description {
            @include var.box($margin:0, $padding:0 10px);
            color: var.$white;
            text-align: center;

            .buttons {
                @include var.flexbox($align-items: center, $justify-content: center, $display: flex, $flex-direction: row);

                button {
                    @include var.sizes($width: 200px, $height: 7vh);
                    @include var.box($margin:5px, $padding:0);
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: var.$hobbyBgc;
                    color: wheat;

                    svg {
                        @include var.sizes($width: auto, $height: 20px);
                        color: wheat;
                    }
                }
            }
        }

        &:nth-child(even) {
            .background-image {
                grid-column: 2;
            }

            .project-description {
                grid-row: 1;
            }
        }

        &last-child {
            margin-bottom: 100px;
        }
    }
}


@media (max-width:992px) {
    .projectContainer {
        h1 {
            color: var.$white;
            text-align: center;
            margin-top: 40px;
        }

        .box {
            grid-template-columns: 1fr;
            margin: 20px auto;

            &:nth-child(even) {
                .background-image {
                    grid-column: 1;
                }

                .project-description {
                    text-align: center;

                    buttons {
                        grid-row: 2;
                    }

                    h1 {
                        grid-row: 2;
                    }
                }
            }

            .project-description {
                &:nth-child(1n) {
                    grid-row: 2;
                }

                .buttons {

                    button {
                        @include var.sizes($width: 30vw, $height: auto);
                        padding: 10px;
                    }
                }
            }
        }

    }
}