.skillcontainer div{
    height: 100px;
}

.skill{
    background: rgb(247,196,105);
background: linear-gradient(180deg, rgba(247,196,105,1) 0%, rgba(196,99,82,1) 100%);
max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.skill .title:first-child{
    width: 90vw;
    padding: 10px 0;
    text-align: center;
    margin-top: 110px;
    font-size: 35px;
    color: #212121;
}
.skill .title{
    width: 80vw;
    text-align: center;

}
.skill .menuList{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    text-align: center;
    margin: 20px 0; 
    padding: 0 20px;
}

.skillItem{
    text-align: center;
    width: 18vw;
    height: 250px;
    margin: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transition: 0.3s ease-in;
    background: #714433;
    color: bisque;
}

.skillItem:hover{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color:#7142339f;;
    color: beige;
    border-radius: 10px;
}

.skillItem div{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 80%;
    margin: 0 auto;
    height:60%;
    background-position: center;
    object-fit: cover;
    background-size: 40%;
    background-repeat: no-repeat;
}
.skillItem h1{
    font-size:2rem ;
}
.line{
    display: none;
}


@media (max-width:992px){
    .skill .menuList{
        width: 80vw;
        grid-template-columns: repeat(2, 1fr);
    }
    .skillItem{
        text-align: center;
        width: 40vw;
        height: 230px;
        color: bisque;
    }
}

@media (max-width:576px){
    .skill .menuList{
        width: 100vw;
        grid-template-columns: 1fr;

    }
    .skillItem{
        text-align: center;
        width: 60vw;
        height: 200px;
        color: bisque;
        padding-top: 10px;
    }
    .skillItem div{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 60%;
        margin: 0 auto;
        height:50%;
        background-position: center;
        object-fit: cover;
        background-size: 40%;
        background-repeat: no-repeat;
    }
}
