$font-families:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif',
Times,
serif;
$black: black;
$hobbyBgc: #191919;
$dark: #212121;
$projectsBg: #292830;
$opacityDark: #242424c7;
$mobileNavbarBg: #2c3133;
$skillsItem: #423937;
$navbarBg: #3a4042;
$darkblue: rgba(7, 92, 161, 0.353);
$darkYellow: rgba(244, 94, 0, 0.693);
$brownishYellow: rgba(255, 182, 137, 0.693);
$lightblue: rgba(175, 222, 255, 0.905);
$antiquewhite: antiquewhite;
$lightYellow: #e1dfba;
$light: #ebebeb;
$white: #fff;









%setBackground {
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}


%grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@mixin flexbox($align-items: center, $justify-content: center, $display: flex, $flex-direction: column){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin sizes($width:100vw, $height:100vh) {
  width: $width;
  height: $height;

}

@mixin box($margin:10px, $padding:10px) {
  margin: $margin;
  padding: $padding;
}





