$font-families:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif',
Times,
serif;
$dark: #212121;
$light: #ebebeb;
$lightblue: rgba(175, 222, 255, 0.905);
$darkblue: rgba(7, 92, 161, 0.353);
$white: #fff;
$hobbyBgc: #191919;
$lightYellow: #e1dfba;
$darkYellow: rgba(244, 94, 0, 0.693);
$antiquewhite: antiquewhite;
$brownishYellow: rgba(255, 182, 137, 0.693);
$opacityDark: #242424c7;

$black: black;

%setBackground {
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

%defFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

%grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@mixin flexbox($align-items: center, $justify-content: center, $display: flex, $flex-direction: column){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin sizes($width:100vw, $height:100vh) {
  width: $width;
  height: $height;

}

@mixin box($margin:10px, $padding:10px) {
  margin: $margin;
  padding: $padding;
}





